/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

main {
    /* Make sure the browser knows how to display the HTML5 main element. */
    display: block;
}


/* STYLES */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

sub {
    font-size: 70%;
    vertical-align: sub;
}

sup {
    font-size: 70%;
    vertical-align: super;
}

#box {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.question-box {
    flex-grow: 1;
    flex-basis: 15rem;
    min-height: 15rem;
    margin: 0 0.25rem 0.25rem 0.25rem;
    border-radius: 0.25rem;
    background-color: #8bc34a;
    padding: 0 0.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.question-box.hovered {
    background: #689f38;
}

.question-box > p {
    flex-basis: 100%;
    text-align: center;
    margin-top: 1rem;
}

#ans,
.answer-card {
    border: 1px solid #e3e3e3;
    border-radius: 0.25rem;
}

#ans {
    display: flex;
    flex-wrap: wrap;
    margin: 0.75rem;
    padding: 1rem;
    background: #fff;
    min-height: 3rem;
    width: 1px;
    min-width: 100%;
}

.answer-card {
    flex-basis: 10rem;
    min-height: 3rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 0;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.answer-card.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    z-index: 50;
}

#res {
    display: none;
    width: 80%;
    height: 40%;
    position: absolute;
    border: 8px solid #8CB3E4;
    background: #fff;
    z-index: 99;
    margin: 10%;
    padding: 1rem;
}

#res p {
    font-size: 2rem;
}

#scoreDisplay {
    margin: 0 0.75rem;
}

#btnSubmit {
    margin: 0.75rem;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 2rem;
    width: 6rem;
    border-radius: 0.25rem;
}

#btnSubmit:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}


@media screen and (max-width: 46rem) {

    #box {
        margin: 0;
        flex-wrap: wrap;
    }

    .question-box {
        min-height: 10rem;
        flex-basis: 5rem;
    }

    .question-box > p {
        margin-top: 0.2rem;
    }

    #ans {
        margin: 0.75rem 0;
        padding: 0.5rem;
    }

    .answer-card {
        flex-basis: 3rem;
    }

    #res p {
        font-size: 1rem;
    }

}
