<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <box>
        <label>Salts from hydrochloric acid</label>
        <content>FeCl<sub>3</sub></content>
        <content>ammonium chloride</content>
        <content>NaCl</content>
        <content>calcium chloride</content>
    </box>

    <box>
        <label>Salts from nitric acid</label>
        <content>Mg(NO<sub>3</sub>)<sub>2</sub></content>
        <content>copper nitrate</content>
        <content>Al(NO<sub>3</sub>)<sub>3</sub></content>
        <content>potassium nitrate</content>
    </box>

    <box>
        <label>Salts from sulfuric acid</label>
        <content>sodium sulfate</content>
        <content>Li<sub>2</sub>SO<sub>4</sub></content>
        <content>magnesium sulfate</content>
        <content>FeSO<sub>4</sub></content>
    </box>
</block>
