<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <set>
        <box>Salts from hydrochloric acid</box>
        <question>FeCl<sub>3</sub></question>
        <question>ammonium chloride</question>
        <question>NaCl</question>
        <question>calcium chloride</question>
    </set>

    <set>
        <box>Salts from nitric acid</box>
        <question>Mg(NO<sub>3</sub>)<sub>2</sub></question>
        <question>copper nitrate</question>
        <question>Al(NO<sub>3</sub>)<sub>3</sub></question>
        <question>potassium nitrate</question>
    </set>

    <set>
        <box>Salts from sulfuric acid</box>
        <question>sodium sulfate</question>
        <question>Li<sub>2</sub>SO<sub>4</sub></question>
        <question>magnesium sulfate</question>
        <question>FeSO<sub>4</sub></question>
    </set>
</block>
