<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <set>
        <box>Accelerating</box>
        <question><img src="images/Motion-2.jpg"/></question>
        <question><img src="images/Motion-6.jpg"/></question>
    </set>

    <set>
        <box>stopped</box>
        <question><img src="images/Motion-1.jpg"/></question>
        <question><img src="images/Motion-5.jpg"/></question>
    </set>

    <set>
        <box>Constant speed</box>
        <question><img src="images/Motion-3.jpg"/></question>
        <question><img src="images/Motion-7.jpg"/></question>
    </set>

    <set>
        <box>Decelerating</box>
        <question><img src="images/Motion-4.jpg"/></question>
        <question><img src="images/Motion-8.jpg"/></question>
    </set>

</block>
