<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <box>
        <label>bases</label>
        <content><img src="images/base1.jpg"/></content>
        <content><img src="images/base2.jpg"/></content>
        <content><img src="images/base3.jpg"/></content>
        <content><img src="images/base4.jpg"/></content>
        <content><img src="images/base5.jpg"/></content>
        <content><img src="images/base6.jpg"/></content>
    </box>

    <box>
        <label>acids</label>
        <content><img src="images/acid1.jpg"/></content>
        <content><img src="images/acid2.jpg"/></content>
        <content><img src="images/acid3.jpg"/></content>
        <content><img src="images/acid4.jpg"/></content>
    </box>

</block>
