<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <set>
        <box>bases</box>
        <question><img src="images/base1.jpg" style="width: 100px;"/></question>
        <question><img src="images/base2.jpg" style="width: 100px;"/></question>
        <question><img src="images/base3.jpg" style="width: 100px;"/></question>
        <question><img src="images/base4.jpg" style="width: 100px;"/></question>
        <question><img src="images/base5.jpg" style="width: 100px;"/></question>
        <question><img src="images/base6.jpg" style="width: 100px;"/></question>
    </set>

    <set>
        <box>acids</box>
        <question><img src="images/acid1.jpg" style="width: 100px;"/></question>
        <question><img src="images/acid2.jpg" style="width: 100px;"/></question>
        <question><img src="images/acid3.jpg" style="width: 100px;"/></question>
        <question><img src="images/acid4.jpg" style="width: 100px;"/></question>
    </set>

</block>
