<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <group>
        <name>Quantities1</name>
        <element>1force awordsuperlooooooooooooooooooooooooooong</element>
        <element>1energy awordsuperlooooooooooooooooooooooooooong</element>
        <element>1speed awordsuperlooooooooooooooooooooooooooong</element>
    </group>

    <group>
        <name>Quantities2</name>
        <element>2acceleration awordsuperlooooooooooooooooooooooooooong</element>
        <element>2work</element>
        <element>2mass</element>
    </group>

    <group>
        <name>Quantities3</name>
        <element>3time</element>
        <element>3distance awordsuperlooooooooooooooooooooooooooong</element>
    </group>

    <group>
        <name>Units1</name>
        <element>1second</element>
        <element>1kg</element>
    </group>

    <group>
        <name>Units2</name>
        <element>2metre per second</element>
        <element>2newton</element>
    </group>

    <group>
        <name>Units3</name>
        <element>3joule</element>
        <element>3m s<sup>-2</sup></element>
        <element>3cm</element>
    </group>

</block>
