<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <box>
        <label>Quantities1</label>
        <content>1force awordsuperlooooooooooooooooooooooooooong</content>
        <content>1energy awordsuperlooooooooooooooooooooooooooong</content>
        <content>1speed awordsuperlooooooooooooooooooooooooooong</content>
    </box>

    <box>
        <label>Quantities2</label>
        <content>2acceleration awordsuperlooooooooooooooooooooooooooong</content>
        <content>2work</content>
        <content>2mass</content>
    </box>

    <box>
        <label>Quantities3</label>
        <content>3time</content>
        <content>3distance awordsuperlooooooooooooooooooooooooooong</content>
    </box>

    <box>
        <label>Units1</label>
        <content>1second</content>
        <content>1kg</content>
    </box>

    <box>
        <label>Units2</label>
        <content>2metre per second</content>
        <content>2newton</content>
    </box>

    <box>
        <label>Units3</label>
        <content>3joule</content>
        <content>3m s<sup>-2</sup></content>
        <content>3cm</content>
    </box>

</block>
