<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <box>
        <label>Acids</label>
        <content>H<sub>2</sub>SO<sub>4</sub></content>
        <content>HCl</content>
        <content>HNO<sub>3</sub></content>
    </box>

    <box>
        <label>Carbonates</label>
        <content>FeCO<sub>3</sub></content>
        <content>CaCO<sub>3</sub></content>
        <content>Na<sub>2</sub>CO<sub>3</sub></content>
    </box>

    <box>
        <label>Bases</label>
        <content>MgO</content>
        <content>CaO</content>
        <content>Zn(OH)<sub>2</sub></content>
        <content>Pb(OH)<sub>2</sub></content>
    </box>

    <box>
        <label>Salts</label>
        <content>NaCl</content>
        <content>LiNO<sub>3</sub></content>
        <content>CuSO<sub>4</sub></content>
        <content>FeCl<sub>3</sub></content>
    </box>

</block>
