/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

main {
    /* Make sure the browser knows how to display the HTML5 main element. */
    display: block;
}


/* STYLES */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    position: relative;
}

#result {
    display: none;
    width: 80%;
    position: fixed;
    bottom: 10rem;
    border: 8px solid #8CB3E4;
    background: #fff;
    z-index: 99;
    margin: 10%;
    padding: 1rem;
}

#result p {
    font-size: 2rem;
}

#score-display {
    margin: 0 0.75rem;
}

.btn {
    margin: 0.75rem;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 2rem;
    width: 6rem;
    border-radius: 0.25rem;
}

.btn:hover {
    background-color: #ebebeb;
    border-color: #adadad;
}


@media screen and (max-width: 46rem) {

    #result p {
        font-size: 1rem;
    }

}
