<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <group>
        <name>Quantities</name>
        <element>force</element>
        <element>energy</element>
        <element>speed</element>
        <element>acceleration</element>
        <element>work</element>
        <element>mass</element>
        <element>time</element>
        <element>distance</element>
    </group>

    <group>
        <name>Units</name>
        <element>second</element>
        <element>kg</element>
        <element>metre per second</element>
        <element>newton</element>
        <element>joule</element>
        <element>m s<sup>-2</sup></element>
        <element>cm</element>
    </group>

</block>
