<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <box>
        <label>Quantities</label>
        <content>force</content>
        <content>energy</content>
        <content>speed</content>
        <content>acceleration</content>
        <content>work</content>
        <content>mass</content>
        <content>time</content>
        <content>distance</content>
    </box>

    <box>
        <label>Units</label>
        <content>second</content>
        <content>kg</content>
        <content>metre per second</content>
        <content>newton</content>
        <content>joule</content>
        <content>m s<sup>-2</sup></content>
        <content>cm</content>
    </box>

</block>
