<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <group>
        <name>Accelerating</name>
        <element><img src="images/Motion-2.jpg"/></element>
        <element><img src="images/Motion-6.jpg"/></element>
    </group>

    <group>
        <name>stopped</name>
        <element><img src="images/Motion-1.jpg"/></element>
        <element><img src="images/Motion-5.jpg"/></element>
    </group>

    <group>
        <name>Constant speed</name>
        <element><img src="images/Motion-3.jpg"/></element>
        <element><img src="images/Motion-7.jpg"/></element>
    </group>

    <group>
        <name>Decelerating</name>
        <element><img src="images/Motion-4.jpg"/></element>
        <element><img src="images/Motion-8.jpg"/></element>
    </group>

</block>
