<?xml version="1.0" encoding="utf-8" ?>
<block>
    <passing-score>80</passing-score>
    <box>
        <label>Accelerating</label>
        <content><img src="images/Motion-2.jpg"/></content>
        <content><img src="images/Motion-6.jpg"/></content>
    </box>

    <box>
        <label>stopped</label>
        <content><img src="images/Motion-1.jpg"/></content>
        <content><img src="images/Motion-5.jpg"/></content>
    </box>

    <box>
        <label>Constant speed</label>
        <content><img src="images/Motion-3.jpg"/></content>
        <content><img src="images/Motion-7.jpg"/></content>
    </box>

    <box>
        <label>Decelerating</label>
        <content><img src="images/Motion-4.jpg"/></content>
        <content><img src="images/Motion-8.jpg"/></content>
    </box>

</block>
